*,::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}
body{
    background-color: rgba(0,0,0,.8);
    color: rgba(241, 239, 239, 0.9);
}
.title{    
    height: 10vh;
}
h1{
    text-align: center;
    color: grey;
    opacity: 15%;
}
.container{
    height: 100%;
    width: 70vw;
    margin: 2rem auto; 
    border: aqua solid 2px;
    border-radius: 80px;   
    background-color: black;   
    opacity: 60%;
}
.container h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
    color: grey;
}
.formulario-datos{
    display: block;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}
.formulario-datos input{
    margin: 1rem 0rem;
    line-height: 3rem;
    background:none;
    outline: 0;
    border: 0;
    color: aqua;
}
.formulario-datos input:active{
    border-bottom: 2px solid aqua;
}
.formulario-datos input:focus{
    border-bottom: 2px solid aqua;
}
.formulario-datos button{
    margin: 1rem 0rem;
    background-color: grey;
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.listado-tareas{
    display: flex;
    flex-direction: column;

}
.tarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
}
.icono{
    color: red;
    cursor: pointer;
}

.githubLink{
    position: absolute;
    top: 5% ;
    left: 48%;            
}

.githubLink a{
    text-decoration: none;
          
   
}

.githubLink a img{
    max-height: 40px;
    max-width: 40px;
    border-radius: 300px;
    background-color: aqua;
}